/** Skyscraper ad styling for the Aurora skin */
#column-google {
	height: 600px;
	margin-bottom: 10px;
	margin-left: -15px;
	margin-right: 10px;
	margin-top: 10px;
	width: 120px;
}

/* Need to stretch the content area a "bit" to make the skyscraper fit in the left-hand sidebar... */
div#content {
	min-height: 1000px;
}

/* Also stretch the left-hand (on LTR interface) menu as needed
 * @see http://www.shoutwiki.com/w/index.php?oldid=30105#Advertising_on_the_left_side_of_the_Aurora_skin
 */
#menu-left {
     width: 11em;
}
