/**
 * Skyscraper ad styling for Monobook skin
 */
div#content {
	border-right: solid 1px #aaa !important; /* yes, the important is needed...lame */
	margin-top: 2.8em !important;
	margin-right: 125px !important;
	margin-bottom: 0 !important;
	margin-left: 12.2em !important;
}

#column-google {
	width: 120px;
	height: 600px;
	clear: left;
	position: absolute;
	padding-top: 35px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 3px;
	float: right;
	right: 0px;
	top: 10px;
	z-index: 1;
}

#footer {
	width: 90%;
}
